/* ui kit override */
.uk-height-medium {
  height: 300px;
}

/* font */
* {
    font-family: 'Open Sans', sans-serif !important;
}
html {
    max-width: 1920px;
    margin: 0 auto;
}
a, p, span, h1, h2, h3, h4, h5, h6 {
    color: #555;
}
.khmer {
    font-family: 'Content', cursive !important;
    letter-spacing: normal !important;
}
.page-title {
    width: 100%;
    display: flex;
    justify-content: center;
}
.page-title h2 {
    color: #777;
    margin: 0 0 10px 0;
    letter-spacing: 4px;
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid #777;
}
.heading-title {
    margin: 0;
    padding: 0 0 0 6px;
    border-left: 6px solid #ddd;
}
.memb-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.memb-header-wrapper h3 {
    margin: 0;
    padding: 0;
}

/* container */
.page-content {
    max-width: 1600px;
    margin: 0 auto;
}
.map-container {
    min-height: 300px;
}
@media only screen and (max-width: 1601px) {
    .page-content {
        max-width: 1200px;
    }
}
@media only screen and (max-width: 1024px) {
    .page-content {
        max-width: 960px;
    }
}
@media only screen and (max-width: 900px) {
    .page-content {
        max-width: 800px;
    }
}
@media only screen and (max-width: 800px) {
    .page-content {
        max-width: 700px;
    }
}
@media only screen and (max-width: 700px) {
    .page-content {
        max-width: 600px;
    }
}
@media only screen and (max-width: 600px) {
    .page-content {
        max-width: 540px;
    }
}
@media only screen and (max-width: 460px) {
    .page-content {
        max-width: 380px;
    }
}
@media only screen and (max-width: 400px) {
    .page-content {
        max-width: 340px;
    }
}
@media only screen and (max-width: 330px) {
    .page-content {
        max-width: 300px;
    }
    .map-container {
        min-height: 200px;
    }
}

/* media */
.square-logo {
    height: 20em;
}
.main-logo {
    height: 60px;
}
.tint {
    background-color: rgba(0, 0, 0, 0.35);
    background-blend-mode: multiply;
    transition: background-color 0.35s;
}
.tint:hover {
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: multiply;
    transition: background-color 0.35s;
}
.intro-title {
    font-size: 1.75em;
}
.squarelogo-container {
    min-height: 600px;
}
.morning {
    border-left: 20px solid #ffeeb9;
    padding-left: 8px;
}
.noon {
    border-left: 20px solid #d3d3d3;
    padding-left: 8px;
}
.evening {
    border-left: 20px solid #036;
    padding-left: 8px;
}
@media only screen and (min-width: 1200px) {
    .enlarge-on-hover-small {
        z-index: 1;
        transition: transform 0.35s;
    }
    .enlarge-on-hover-small:hover {
        z-index: 10;
        transform: scale(1.035);
        transition: transform 0.35s;
    }
    .enlarge-on-hover-medium, .merch-hover > img {
        z-index: 1;
        transition: transform 0.35s;
    }
    .enlarge-on-hover-medium:hover, .merch-hover:hover > img {
        z-index: 1;
        transform: scale(1.05);
        transition: transform 0.35s;
    }
}
@media only screen and (max-width: 1024px) {
    .squarelogo-container {
        min-height: 400px;
    }
    .square-logo {
        height: 16em;
    }
}